<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base :: common_header"></head>
<body>
<div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">

    <div th:replace="fragments/header :: header"></div>
    <div th:replace="fragments/nav :: nav"></div>

    <main class="mdl-layout__content mdl-color--grey-100">
        <div class="mdl-grid demo-content">

            <div class="demo-cards mdl-cell mdl-cell--6-col mdl-grid mdl-grid--no-spacing">

                <div class="demo-cards mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col">
                    <div class="mdl-card__title mdl-color--teal-300">
                        <h2 class="mdl-card__title-text">Памятник</h2>
                    </div>
                    <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                        <form action="#" th:action="@{/addsite}" th:object="${site}" method="post">
                            <p>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input id="a_site" class="mdl-textfield__input" type="text" th:field="*{site_title}"/>
                                <label class="mdl-textfield__label" for="a_site">Название памятника</label>
                            </div>
                            </p>
                            <p>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input id="a_site_k" class="mdl-textfield__input" type="text" th:field="*{site_comments}"/>
                                <label class="mdl-textfield__label" for="a_site_k">Комментарии к памятнику</label>
                            </div>
                            </p>
                            <p>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input id="a_site_r" class="mdl-textfield__input" type="number" th:field="*{region_id}"/>
                                <label class="mdl-textfield__label" for="a_site_r">Код региона</label>
                            </div>
                            </p>
                            <p>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input id="a_site_ep" class="mdl-textfield__input" type="number" th:field="*{epoch_id}"/>
                                <label class="mdl-textfield__label" for="a_site_ep">Код эпохи</label>
                            </div>
                            </p>
                            <p>
                                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--primary"
                                        type="submit">
                                    Сохранить
                                </button>
                                <button class="mdl-button mdl-js-button mdl-button--raised" type="reset">
                                    Отменить
                                </button>
                            </p>
                        </form>
                    </div>
                </div>
            </div>

            <div class="demo-cards mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--6-col">
                <div class="mdl-card__title mdl-color--teal-300">
                    <h2 class="mdl-card__title-text">Все памятники в таблице</h2>
                </div>
                <div class="mdl-color-text--grey-600 big-table">
                    <table class="mdl-data-table mdl-js-data-table">
                        <thead>
                        <tr>
                            <th>Идентификатор</th>
                            <th class="mdl-data-table__cell--non-numeric">Название</th>
                            <th class="mdl-data-table__cell--non-numeric">Комментарии</th>
                            <th>Код региона</th>
                            <th>Код эпохи</th>
                        </tr>
                        </thead>
                        <tr th:each="site : ${sites}">
                            <td th:text="${site.id}"></td>
                            <td class="mdl-data-table__cell--non-numeric" th:text="${site.site_title}"></td>
                            <td class="mdl-data-table__cell--non-numeric" th:text="${site.site_comments}"></td>
                            <td th:text="${site.region_id}"></td>
                            <td th:text="${site.epoch_id}"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>