<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base :: common_header"></head>
<body>
<div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">

    <div th:replace="fragments/header :: header"></div>
    <div th:replace="fragments/nav :: nav"></div>

    <main class="mdl-layout__content mdl-color--grey-100">
        <div class="mdl-grid demo-content">

            <div class="demo-cards mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col">
                <div class="mdl-card__title mdl-color--teal-300">
                    <h2 class="mdl-card__title-text">Опись предметов по заданным квадратам и глубине</h2>
                    <div class="mdl-layout-spacer"></div>
                    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="show-dialog">
                        <i class="material-icons">filter_list</i>
                    </button>
                    <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" th:href="@{/field_inventory_by_squares_and_depth_export}">
                        <i class="material-icons">file_download</i>
                    </a>
                </div>
                <div class="mdl-color-text--grey-600">

                    <div class="params" th:unless="${error}">
                        <div>
                            <b>Квадраты: </b><span th:text="${{params.squares}}"></span>
                        </div>
                        <div>
                            <b>Глубина от: </b><span th:text="${{params.depth_from}}"></span>
                        </div>
                        <div>
                            <b>Глубина до: </b><span th:text="${{params.depth_till}}"></span>
                        </div>
                    </div>

                    <div class="params params-error" th:if="${error}">
                        Произошла ошибка
                    </div>

                    <div class="params" th:if="${notfound}">
                        Ничего не найдено
                    </div>

                </div>
                <div class="mdl-color-text--grey-600 big-table">

                    <table class="mdl-data-table mdl-js-data-table">
                        <thead>
                        <tr>
                            <th>Номер в описи</th>
                            <th class="mdl-data-table__cell--non-numeric">Предмет</th>
                            <th class="mdl-data-table__cell--non-numeric">Описание</th>
                            <th class="mdl-data-table__cell--non-numeric">Дата находки</th>
                            <th class="mdl-data-table__cell--non-numeric">Размер_X</th>
                            <th class="mdl-data-table__cell--non-numeric">Размер_Y</th>
                            <th class="mdl-data-table__cell--non-numeric">Размер_Z</th>
                            <th class="mdl-data-table__cell--non-numeric">Шифр</th>
                            <th class="mdl-data-table__cell--non-numeric">Глубина(см)</th>
                            <th class="mdl-data-table__cell--non-numeric">Коорд_Север</th>
                            <th class="mdl-data-table__cell--non-numeric">Коорд_Запад</th>
                            <th class="mdl-data-table__cell--non-numeric">Квадрат</th>
                            <th class="mdl-data-table__cell--non-numeric">Материал</th>
                            <th class="mdl-data-table__cell--non-numeric">Слой</th>
                            <th class="mdl-data-table__cell--non-numeric">Памятник</th>
                            <th class="mdl-data-table__cell--non-numeric">Регион</th>
                        </tr>
                        </thead>
                        <tr th:each="fieldinventory : ${fieldinventories}">
                            <td th:text="${fieldinventory.id}"></td>
                            <td class="mdl-data-table__cell--non-numeric" th:text="${fieldinventory.title}"></td>
                            <td class="mdl-data-table__cell--non-numeric" th:text="${fieldinventory.description}"></td>
                            <td class="mdl-data-table__cell--non-numeric" th:text="${#dates.format(fieldinventory.find_date, 'dd.MM.yyyy')}"></td>
                            <td class="mdl-data-table__cell--non-numeric" th:text="${fieldinventory.sizex}"></td>
                            <td class="mdl-data-table__cell--non-numeric" th:text="${fieldinventory.sizey}"></td>
                            <td class="mdl-data-table__cell--non-numeric" th:text="${fieldinventory.sizez}"></td>
                            <td class="mdl-data-table__cell--non-numeric" th:text="${fieldinventory.cipher}"></td>
                            <td class="mdl-data-table__cell--non-numeric" th:text="${fieldinventory.depth}"></td>
                            <td class="mdl-data-table__cell--non-numeric" th:text="${fieldinventory.coord_north}"></td>
                            <td class="mdl-data-table__cell--non-numeric" th:text="${fieldinventory.coord_west}"></td>
                            <td class="mdl-data-table__cell--non-numeric" th:text="${fieldinventory.square}"></td>
                            <td class="mdl-data-table__cell--non-numeric" th:text="${fieldinventory.material}"></td>
                            <td class="mdl-data-table__cell--non-numeric" th:text="${fieldinventory.layer}"></td>
                            <td class="mdl-data-table__cell--non-numeric" th:text="${fieldinventory.site_title}"></td>
                            <td class="mdl-data-table__cell--non-numeric" th:text="${fieldinventory.region}"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </main>
</div>

<dialog class="mdl-dialog">
    <h4 class="mdl-dialog__title">Параметры</h4>
    <div class="mdl-dialog__content">
        <p>
            Укажите параметры
        </p>
        <div>
            <form id="search_form" th:action="@{/field_inventory_by_squares_and_depth}" th:object="${params}" method="post">
                <p>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input id="a_squares" class="mdl-textfield__input" type="text" th:field="*{squares}"/>
                    <label class="mdl-textfield__label" for="a_squares">Квадрат(ы)</label>
                </div>
                </p>
                <p>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input id="a_depth_from" class="mdl-textfield__input" type="text" th:field="*{depth_from}"/>
                    <label class="mdl-textfield__label" for="a_depth_from">Глубина от</label>
                </div>
                </p>
                <p>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input id="a_depth_till" class="mdl-textfield__input" type="text" th:field="*{depth_till}"/>
                    <label class="mdl-textfield__label" for="a_depth_till">Глубина до</label>
                </div>
                </p>
            </form>
        </div>
    </div>
    <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button ok">Найти</button>
        <button type="button" class="mdl-button close">Отменить</button>
    </div>
</dialog>
<script>
    var dialog = document.querySelector('dialog');
    var showDialogButton = document.querySelector('#show-dialog');
    if (! dialog.showModal) {
      dialogPolyfill.registerDialog(dialog);
    }
    showDialogButton.addEventListener('click', function() {
      dialog.showModal();
    });
    dialog.querySelector('.close').addEventListener('click', function() {
      dialog.close();
    });
    dialog.querySelector('.ok').addEventListener('click', function() {
      document.getElementById('search_form').submit();
    });
</script>

</body>
</html>