<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/base :: common_header"></head>
<body>
<div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">

    <div th:replace="fragments/header :: header"></div>
    <div th:replace="fragments/nav :: nav"></div>

    <main class="mdl-layout__content mdl-color--grey-100">
        <div class="mdl-grid demo-content">

            <div class="demo-cards mdl-color--white mdl-cell mdl-shadow--2dp mdl-cell--6-col">

                <div class="mdl-card__title mdl-card--expand mdl-color--teal-300">
                    <h5 class="mdl-card__title-text">Добавление информации в базу</h5>
                </div>
                <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                    <ul>
                        <li class="mdl-navigation__link"><a href="/addArtifact"><i class="icon-fix material-icons">local_library</i>Добавить находки в базу</a></li>
                        <li sec:authorize="hasRole('ROLE_ADMIN')" class="mdl-navigation__link"><a href="/addmaterial"><i class="icon-fix material-icons">local_library</i>Добавить материал</a></li>
                        <li sec:authorize="hasRole('ROLE_ADMIN')" class="mdl-navigation__link"><a href="/addsquare"><i class="icon-fix material-icons">local_library</i>Добавить квадрат</a></li>
                        <li sec:authorize="hasRole('ROLE_ADMIN')" class="mdl-navigation__link"><a href="/addepoch"><i class="icon-fix material-icons">local_library</i>Добавить эпоху</a></li>
                        <li sec:authorize="hasRole('ROLE_ADMIN')" class="mdl-navigation__link"><a href="/addlayer"><i class="icon-fix material-icons">local_library</i>Добавить слой</a></li>
                        <li sec:authorize="hasRole('ROLE_ADMIN')" class="mdl-navigation__link"><a href="/addregion"><i class="icon-fix material-icons">local_library</i>Добавить регион</a></li>
                        <li sec:authorize="hasRole('ROLE_ADMIN')" class="mdl-navigation__link"><a href="/addposition"><i class="icon-fix material-icons">local_library</i>Добавить должность</a></li>
                        <li sec:authorize="hasRole('ROLE_ADMIN')" class="mdl-navigation__link"><a href="/addemployee"><i class="icon-fix material-icons">local_library</i>Добавить сотрудника</a></li>
                        <li sec:authorize="hasRole('ROLE_ADMIN')" class="mdl-navigation__link"><a href="/addsite"><i class="icon-fix material-icons">local_library</i>Добавить памятник</a></li>
                    </ul>
                </div>

            </div>

            <div class="demo-cards mdl-color--white mdl-cell mdl-shadow--2dp mdl-cell--6-col">

                <div class="mdl-card__title mdl-color--teal-300">
                    <h5 class="mdl-card__title-text">Получение информации из базы</h5>
                </div>
                <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                    <ul>
                        <li class="mdl-navigation__link"><a href="/fieldinventory"><i class="icon-fix material-icons">description</i>Полевая опись</a></li>
                        <li class="mdl-navigation__link"><a href="/count_artifacts_by_squares_on_depth"><i class="icon-fix material-icons">description</i>Количество находок по квадратам на заданной
                            глубине</a></li>
                        <li class="mdl-navigation__link"><a href="/count_artifacts_by_material"><i class="icon-fix material-icons">description</i>Количество находок по материалам</a></li>
                        <li class="mdl-navigation__link"><a href="/count_artifacts_by_employee"><i class="icon-fix material-icons">description</i>Количество находок по сотрудникам</a></li>
                        <li class="mdl-navigation__link"><a href="/count_artifacts_by_squares"><i class="icon-fix material-icons">description</i>Количество находок по квадратам</a></li>
                        <li class="mdl-navigation__link"><a href="/find_artifacts_by_days"><i class="icon-fix material-icons">description</i>Опись находок по заданным дням</a></li>
                        <li class="mdl-navigation__link"><a href="/field_inventory_by_squares_and_depth"><i class="icon-fix material-icons">description</i>Опись предметов по заданным квадратам и глубине</a></li>
                        <li class="mdl-navigation__link"><a href="/all_sites_description"><i class="icon-fix material-icons">description</i>Полное описание памятников</a></li>
                        <li class="mdl-navigation__link"><a href="/size_of_artifacts_by_square_and_depth"><i class="icon-fix material-icons">description</i>Размеры фрагментов по квадрату и глубине</a></li>
                        <li class="mdl-navigation__link"><a href="/find_my_artifacts"><i class="icon-fix material-icons">search</i>Мои находки</a></li>
                        <li class="mdl-navigation__link"><a href="/find_employee_by_artifact_id"><i class="icon-fix material-icons">search</i>Найти сотрудника по номеру находки</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </main>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
