<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Личная страница</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css"/>
    <script defer="true" src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <style>
        body {
        background-color: #f1f1f1;
        }
        .mdl-card {
        padding: 20px;
        width: 100%;
        }
        .demo-card-square.mdl-card {
        width: 450px;
        height: 450px;
        }
        .demo-card-square > .mdl-card__title {
        background-color: #f1f1f1;
        }
    </style>
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <main class="mdl-layout__content">
        <div class="page-content">

            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--4-col">

                    <div class="mdl-card mdl-shadow--2dp">
                        <form th:action="@{/logout}" method="post">
                            <input type="submit" value="Выйти"/>
                        </form>
                        <div class="mdl-card__title">
                            <h2 class="mdl-card__title-text">Доступные действия</h2>
                        </div>
                        <p>
                            <div class="mdl-textfield mdl-js-textfield"></div>
                        </p>
                        <p><a href="/addArtifact">Добавить находки в базу</a></p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>